@import url('./_reset.css');

*{
  box-sizing: border-box;

}


h1{
  border-left: 1em solid #eff5f5;
  border-right: 1em solid #eff5f5;
  box-sizing: border-box;
  /*border: 10px solid black;*/
}

h2, h3, h4, h5 {
  border-left: 1.5em solid #eff5f5;
  border-right: 1.5em solid #eff5f5;
  box-sizing: border-box;
  /*border: 10px solid black;*/
}

li{
  list-style: none;
  padding-top: 20px;
}

span{
  padding-left:50px;
  font-style: italic;
}

.flexwrapper {
  display: flex;
  flex-direction: row;
  /*border: 10px solid black;*/
}

.s1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
	border-left: 1em solid #eff5f5;
  border-right: 1em solid #eff5f5;
  box-sizing: border-box;
  background: #c0d8d8;
	/*padding-top: 25%;*/
  /*margin-bottom: .5em;
  margin-top: .5em;*/
}

.s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
	/*float: left;*/
	/*width: 25%;*/
  font-family: "Source Sans Pro";
  font-size: 20px;
  flex: 2;
	border-left: 1em solid #eff5f5;
  border-right: 1em solid #eff5f5;
  box-sizing: border-box;
	/*margin-bottom: .5em;
	padding-top: 5%;*/
  background: #dfebeb;
}

body { font: 1.125em/1.4 'Source Sans Pro', sans-serif; background: #eff5f5; color: #31656e; text-align: center; padding: 4em 0; }
h1 { font-weight: 900; font-size: 1.6em; line-height: 1.2; }
h2 { font-weight: 400; font-size: 1em; color: #597a80; text-transform: uppercase; margin: .5em 0 4em; letter-spacing: .25em; }

/* Display for Mobile [ max-width means this criteria will kick in if 500px and below] */

footer{
  padding-top: 20px;
  margin-left: 20px;
  font-family: "Source Sans Pro";
  color: black;
  font-size: 30px;
  text-align: center;
}

@media (max-width: 600px) {
  .flexwrapper, .flexexperience {
    flex-direction: column;
  }
}


/*experience*/

*{
  text-align: left;
}
